@page "/TipoTecnico/Index"
@rendermode InteractiveServer
@inject TipoTecnicoService tipoTecnicoService
@inject NavigationManager navigation

<PageTitle> Tipo de T&eacute;cnicos Index</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        @*Header*@
        <div class="card-header text-white text-center">
            <div class="bg-info rounded">
                <h1>Registro de Tipos de T&eacute;cnicos</h1>
            </div>
        </div>
        @*Body*@
        <div class="card-body">
            <div class="row mb-3 align-items-end">
                @*Filtro*@
                <div class="col-md-2">
                    <label for="Filtro" class="form-label">Filtrar por:</label>
                    <select @bind="filtro" class="form-select">
                        <option value="id">ID</option>
                        <option value="descripcion">Descripci&oacute;n</option>
                    </select>
                </div>
                @*Busqueda*@
                <div class="col-md-5">
                    <label for="ValorFiltro" class="form-label">Búsqueda:</label>
                    <div class="input-group">
                        <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                        <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                            <span class="bi bi-search"></span> Buscar
                        </button>
                    </div>
                </div>
                @*Restablecer Tabla*@
                <div class="col-md-2">
                    <button class="btn btn-outline-dark bi bi-arrow-clockwise" type="button" @onclick="OnInitializedAsync"> Todos</button>
                </div>
            </div>
            @*Crear*@

            <div class="text-end">
                <button class="btn btn-success bi bi-person-fill-add" type="button" @onclick="Crear"> Crear</button>
            </div>
            <table class="table table-bordered">
                <thead class="bg-info text-center text-white">
                    <tr>
                        <th>IdTipo</th>
                        <th>Descripci&oacute;n</th>
                        <th>Incentivos</th>
                        <th>Visualizar</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var tipo in Tipo)
                    {
                        <tr class=" text-center">
                            <td>@tipo.TipoId</td>
                            <td>@tipo.Descripcion</td>
                            <td>@MontosTotalesPorTipo.GetValueOrDefault(tipo.TipoId)</td>
                            <td><button type="button" class="btn btn-outline-info bi bi-eye" @onclick="()=>Visualizar(tipo.TipoId)"></button></td>
                            <td><button type="button" class="btn btn-outline-warning bi bi-pencil-square" @onclick="()=>Editar(tipo.TipoId)"></button></td>
                            <td><button type="button" class="btn btn-outline-danger bi bi-trash" @onclick="()=>Eliminar(tipo.TipoId)"></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*Footer*@
        <div class="card-footer">
            <p>Total de Tipos Ingresados: @Tipo.Count()</p>
        </div>
    </div>
</div>

@code {
    public List<TiposTecnicos> Tipo = new List<TiposTecnicos>();
    public Dictionary<int, decimal> MontosTotalesPorTipo { get; set; } = new Dictionary<int, decimal>();
    private string filtro = "";
    private string valorFiltro = "";

    protected override async Task OnInitializedAsync()
    {
        Tipo = await tipoTecnicoService.Listar(e => true);
        MontosTotalesPorTipo = await tipoTecnicoService.CalcularMontosTotalesIncentivosPorTipo();
        filtro = "";
        valorFiltro = "";
    }

    private async Task Buscar()
    {
        if (valorFiltro.Trim() != "")
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int Id))
            {
                Tipo = await tipoTecnicoService.Listar(t => t.TipoId == Id);
            }
            else if (filtro == "descripcion")
            {
                Tipo = await tipoTecnicoService.Listar(t => t.Descripcion.ToLower().Contains(valorFiltro.ToLower()));
            }
        }
        else
        {
            Tipo = await tipoTecnicoService.Listar(p => true);
        }
    }

    public void Crear()
    {
        navigation.NavigateTo("/TipoTecnico/Crear");
    }

    public void Visualizar(int id)
    {
        navigation.NavigateTo($"/TipoTecnico/Visualizar/tecnicoid={id}");
    }

    public void Editar(int id)
    {
        navigation.NavigateTo($"/TipoTecnico/Editar/tecnicoid={id}");
    }

    public void Eliminar(int id)
    {
        navigation.NavigateTo($"/TipoTecnico/Eliminar/tecnicoid={id}");
    }
}
