@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        @*Header*@
        <div class="card-header text-white text-center">
            <div class="bg-info rounded">
                <!-- Cuadro de otro color -->
                <h1>Bienvenido a mi Primer Registro de T&eacute;cnicos</h1>
            </div>           
        </div>
        @*Body*@
        <div class=" text-center">
            <h2>Estudiante:</h2>
            <p>Angel Luis Gonz&aacute;lez Delgado</p>
            <p>Matr&iacute;cula: 2022-0268</p>
        </div>
    </div>
</div>