@page "/Tecnico/Create"
@rendermode InteractiveServer
@inject TecnicoService tecnicoservices
@inject NavigationManager navigation

<PageTitle>Crear T&eacute;cnico</PageTitle>

<EditForm Model="Tecnico" OnValidSubmit="Crear">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
			@*Header*@
            <div class="card-header">
                <h1>Crear T&eacute;cnico</h1>
            </div>
			@*Body*@
            <div class="card-body">
                @*Id*@
                <label class="form-label" for="Id">Id</label>
                <InputNumber id="Id" class="form-control" @bind-Value="Tecnico.TecnicoId"></InputNumber>
                @*Nombre*@
                <label class="form-label" for="Nombres">Nombre</label>
                <InputText id="Nombres" class="form-control" @bind-Value="Tecnico.Nombres"></InputText>
                <ValidationMessage For="@(()=>Tecnico.Nombres)"></ValidationMessage>
                @*SueldoHora*@
                <label class="form-label" for="SueldoHora">SueldoHora</label>
                <InputNumber id="SueldoHora" class="form-control" @bind-Value="Tecnico.SueldoHora"></InputNumber>
                <ValidationMessage For="@(()=>Tecnico.SueldoHora)"></ValidationMessage>

            </div>
			@*Footer*@
            <div class="card-footer">
                <button class="btn btn-outline-success" type="submit"> Crear </button>
                <button class="btn btn-outline-secondary" type="button" @onclick="Volver">Volver</button>
            </div>
        </div>
    </div>

</EditForm>

@code {

	public Tecnicos? Tecnico { get; set; } = new Tecnicos();
	public string Mensaje = "";

	public async Task Crear()
	{
		if (!await Validar())
		{
			var nuevo = await tecnicoservices.Guardar(Tecnico);
			if (nuevo)
			{
				Mensaje = $"El técnico {Tecnico.Nombres} ha sido creado correctamente";
				await Task.Delay(1500);
				Volver();
			}
			else
			{
				Mensaje = "El técnico no se ha podido crear correctamente";
			}
		}
		else
		{
			Mensaje = "Ya existe un técnico con este nombre";
		}
	}

	public async Task<bool> Validar()
	{
		var existe = await tecnicoservices.BuscarNombre(Tecnico.Nombres);

		if (existe is not null)
			return true;
		else
			return false;
	}

	public void Volver() => navigation.NavigateTo("/Tecnico/Index");


}
