@page "/Tecnico/Index"
@rendermode InteractiveServer
@inject TecnicoService tecnicoservices
@inject NavigationManager navigation

<PageTitle>T&eacute;cnicos Index</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        @*Header*@
        <div class="card-header text-white text-center">
            <div class="bg-primary rounded">
                <!-- Cuadro de otro color -->
                <h1>Registro de T&eacute;cnicos</h1><!-- El título dentro del cuadro -->
            </div>
            <div class="text-start">
                <button class="btn btn-outline-info" type="button" @onclick="Crear">Crear</button><!-- Botón debajo del cuadro -->
            </div>
           
        </div>
        @*Body*@
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="bg-primary">
                    <tr>
                        <th class="text-center text-white">Id</th>
                        <th class="text-center text-white">Nombre</th>
                        <th class="text-center text-white">Sueldo</th>
                        <th class="text-center text-white">Visualizar</th>
                        <th class="text-center text-white">Editar</th>
                        <th class="text-center text-white">Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var t in ListaTecnicos)
                    {
                        <tr>
                            <td class="text-center">@t.TecnicoId</td>
                            <td class="text-center">@t.Nombres</td>
                            <td class="text-center">@t.SueldoHora.ToString("N2")</td>
                            <td class="text-center"><button type="button" class="btn btn-outline-dark bi bi-eye" @onclick="()=>Visualizar(t.TecnicoId)"> Visualizar</button></td>
                            <td class="text-center"><button type="button" class="btn btn-outline-warning bi bi-pencil-square" @onclick="()=>Editar(t.TecnicoId)"> Modificar</button></td>
                            <td class="text-center"><button type="button" class="btn btn-outline-danger bi bi-trash" @onclick="()=>Eliminar(t.TecnicoId)"> Eliminar</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*Footer*@
        <div class="card-footer">
            <p>Total de T&eacute;cnicos Ingresados: @ListaTecnicos.Count()</p>       
        </div>
    </div>
</div>


@code {
    public List<Tecnicos> ListaTecnicos = new List<Tecnicos>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        ListaTecnicos = await tecnicoservices.Listar(e => e.TecnicoId > 0);
    }

    public void Crear()
    {
        navigation.NavigateTo("/Tecnico/Crear");
    }

    public void Visualizar(int id)
    {
        navigation.NavigateTo($"/Tecnico/Visualizar/tecnicoid={id}");
    }

    public void Editar(int id)
    {
        navigation.NavigateTo($"/Tecnico/Editar/tecnicoid={id}");
    }

    public void Eliminar(int id)
    {
        navigation.NavigateTo($"/Tecnico/Eliminar/tecnicoid={id}");
    }

}
