@page "/Tecnico/Index"
@rendermode InteractiveServer
@inject TecnicoService tecnicoservices
@inject NavigationManager navigation

<PageTitle>T&eacute;cnicos Index</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        @*Header*@
        <div class="card-header text-white text-center">
            <div class="bg-info rounded">                
                <h1>Registro de T&eacute;cnicos</h1>
            </div>           
        </div>
        @*Body*@
        <div class="card-body">
            <div class="text-end">
                <button class="btn btn-success bi bi-person-fill-add" type="button" @onclick="Crear"> Crear</button>
            </div>
            <table class="table table-bordered">
                <thead class="bg-info text-center text-white">
                    <tr>
                        <th>IdT&eacute;cnico</th>
                        <th>Nombre</th>
                        <th>SueldoHora</th>
                        <th>Visualizar</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var tecnico in ListaTecnicos)
                    {
                        <tr>
                            <td class="text-center">@tecnico.TecnicoId</td>
                            <td class="text-center">@tecnico.Nombres</td>
                            <td class="text-center">@tecnico.SueldoHora.ToString("N2")</td>
                            <td class="text-center"><button type="button" class="btn btn-outline-dark bi bi-eye" @onclick="()=>Visualizar(tecnico.TecnicoId)"></button></td>
                            <td class="text-center"><button type="button" class="btn btn-outline-warning bi bi-pencil-square" @onclick="()=>Editar(tecnico.TecnicoId)"></button></td>
                            <td class="text-center"><button type="button" class="btn btn-outline-danger bi bi-trash" @onclick="()=>Eliminar(tecnico.TecnicoId)"></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*Footer*@
        <div class="card-footer">            
            <p>Total de T&eacute;cnicos Ingresados: @ListaTecnicos.Count()</p>                                   
        </div>
    </div>
</div>

@code {
    public List<Tecnicos> ListaTecnicos = new List<Tecnicos>();

    protected override async Task OnInitializedAsync()
    {        
        ListaTecnicos = await tecnicoservices.Listar(e => e.TecnicoId > 0);
    }

    public void Crear()
    {
        navigation.NavigateTo("/Tecnico/Crear");
    }

    public void Visualizar(int id)
    {
        navigation.NavigateTo($"/Tecnico/Visualizar/tecnicoid={id}");
    }

    public void Editar(int id)
    {
        navigation.NavigateTo($"/Tecnico/Editar/tecnicoid={id}");
    }

    public void Eliminar(int id)
    {
        navigation.NavigateTo($"/Tecnico/Eliminar/tecnicoid={id}");
    }
}
