@page "/Tecnico/Index"
@rendermode InteractiveServer
@inject TecnicoService tecnicoservices
@inject NavigationManager navigation

<PageTitle>T&eacute;cnicos Index</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        @*Header*@
        <div class="card-header">
            <h1>T&eacute;cnicos</h1>
            <button class="btn btn-outline-info" type="button" @onclick="Crear">Crear</button>
        </div>
        @*Body*@
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Sueldo</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var t in ListaTecnicos)
                    {
                        <tr>
                            <td>@t.TecnicoId</td>
                            <td>@t.Nombres</td>
                            <td>@t.SueldoHora.ToString("N2")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*Footer*@
        <div class="card-footer">
            <p>Total de T&eacute;cnicos Ingresados: @ListaTecnicos.Count()</p>       
        </div>
    </div>
</div>


@code {
    public List<Tecnicos> ListaTecnicos = new List<Tecnicos>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        ListaTecnicos = await tecnicoservices.Listar(e => e.TecnicoId > 0);
    }

    public void Crear()
    {
        navigation.NavigateTo("/Tecnico/Crear");
    }

    public void Visualizar(int id)
    {
        navigation.NavigateTo($"/Tecnico/Visualizar/tecnicoid={id}");
    }

    public void Editar(int id)
    {
        navigation.NavigateTo($"/Tecnico/Editar/tecnicoid={id}");
    }

    public void Eliminar(int id)
    {
        navigation.NavigateTo($"/Tecnico/Eliminar/tecnicoid={id}");
    }

}
